/* Navbar section */
.navbar-nav hr {
  margin-top: 0;
  margin-bottom: 0;
}
/* End Navbar section */

/* Homepage section */
.content-container {
  background-color: #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 15px;
}

.row {
  width: 100%;
  margin: 10px auto;
}

.section-title {
  text-align: center;
  font-weight: bold;
}

.menu {
  border: 2px solid;
  margin: 10px;
  padding: 0px;
  background-color: #999999;
  position: relative;
}

.menu-title {
  float: right;
  border: 2px solid black;
  padding: 2px;
  border-top-style: none;
  border-right-style: none;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.menu-content {
  clear: both;
  margin: 5px;
}

.chicken-title {
  background-color: #d59898;
}

.beef-title {
  background-color: #c14543;
}

.sushi-title {
  background-color: #e5d198;
}

/* End Homepage section */
